* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0.4rem 3rem;
  justify-content: space-between;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            background-color: rgb(245, 245, 245); */
  background-color: #ffffff;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08); */
}

.logo-sec a > img {
  height: auto;
  width: 7rem;
}

.input-search > #input {
  padding: 0.7rem;
  padding-left: 1rem;
  width: 34rem;
  font-size: 1rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.336) 0px 0px 0px 1px;
}

.input-search > .search-image {
  box-shadow: 0px -1px 0px 0px rgba(27, 31, 35, 0.336),
    /* top */ 1px 0px 0px 0px rgba(27, 31, 35, 0.336),
    /* right */ 0px 1px 0px 0px rgba(27, 31, 35, 0.336);
  /* bottom */
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid 0px 1px 0px 0px rgba(27, 31, 35, 0.336);
  padding: 0.1rem 0.5rem;
}

.input-search img {
  width: 2rem;
  height: auto;
  background-color: #ffffff;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.input-search {
  display: flex;
}

.right-content-navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.upload-video-btn > button {
  padding: 0.4rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 1.2rem;
  font-weight: 600;
  background: #fff;
  color: #2d2e32;
  display: flex;
box-shadow: rgba(0, 0, 0, 0.459) 0px 1px 3px 0px, rgba(27, 31, 35, 0.308) 0px 1px 4px 0px;
  align-items: center;
  text-align: center;
}
.upload-video-btn > button:hover{
  color: white;
  background-color: black;
}

.upload-video-btn button > img {
  width: 1.5em;
  height: auto;
  margin-right: 0.2rem;
}

.user-acount-image img {
  width: 3rem;
  height: auto;
}

.left-slidebar {
  width: fit-content;
  height: 100%;
  padding: 0.4rem 0.2rem 0rem 0.8rem;
  background-color: #ffffff;
  /* box-shadow: 5px 0 5px -4px rgba(0, 0, 0, 0.15); */
  color: #252525;
  overflow-y: auto;
  /* sirf vertical scroll allow */
  overflow-x: hidden;
  /* horizontal scroll band */
  position: relative;
  /* sidebar fix ho page pe */
  top: 0;
  left: 0;
}

.left-slidebar p {
  padding: 0.6rem 2.9rem 0.6rem 0.6rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #202020;
  font-size: 0.9rem;
}

.left-slidebar p:hover {
  background-color: rgb(236, 236, 236);
  border-radius: 0.4rem;
  font-weight: 600;
}

.left-slidebar > h4 {
  padding: 1rem 0px 0.5rem 0px;
  font-size: 1.1rem;
  color: black;
  margin-left: 0.3rem;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}

.left-slidebar > h4 > span {
  font-size: 1rem;
  font-weight: bolder;
  margin-left: 0.3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.left-slidebar p > img {
  width: 1.4rem;
  height: auto;
  margin-right: 0.9rem;
}
.left-slidebar a {
  list-style: none;
  text-decoration: none;
   background-color: rgb(236, 236, 236);
  border-radius: 0.4rem;
  font-weight: 600;
  color: black;
}
#side-bar-paragraph {
  background-color: rgb(236, 236, 236);
  border-radius: 0.4rem;
  font-weight: 600;
}


.left-slidebar hr {
  margin-top: 0.6rem;
}

.setting-p {
  margin-top: 0.4rem;
}

/* MAIN */
main {
  display: flex;
}

.content-start {
}

.top-links {
  margin-bottom: 1rem;
}

.top-links > .video-links {
  display: flex;
  list-style: none;
}

.video-links > li a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-family: sans-serif;
  font-weight: 600;
  background-color: rgb(236, 236, 236);
  padding: 0.6rem 1.1rem;
  border-radius: 0.5rem;
  margin-left: 1.3rem;
}

.video-links > li {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.video-links li a:hover{
  background-color: black;
  color: white;
}




.video-links > li:first-child a{
  background-color: black;
  color: white;
}

.video-links > li:first-child > a {
  color: white;
}

.videos-section {
  display: flex;
  width: 0rem;
  padding-left: 1rem;
  gap: 0.5rem;
}

.videos-section video {
  width: 22rem;
  height: auto;
  border-radius: 10px;
}

.videos-section video:hover {
  border-radius: 0px;
}

.user-profile > img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
}

.user-profile > p {
  margin-left: 0.6rem;
  line-height: 1.3rem;
  font-weight: bold;
  color: rgb(26, 26, 26);
  width: 17rem;
  font-size: 0.97rem;
}

.user-profile {
  display: flex;

  margin-top: 0.5rem;
}

.user-profile #options-icon {
  width: 2.1rem;
  height: auto;
}

.user-profile #options-icon:hover {
  background-color: rgb(207, 207, 207);
  border-radius: 50%;
}

.chennal-name > p {
  margin-left: 3rem;
  margin-top: 0.1rem;
  color: rgb(70, 70, 70);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 0.96rem;
}

.chennal-name p > img {
  width: 1rem;
  height: auto;
  vertical-align: middle;
}

.container-video {
  width: 24rem;
  height: auto;
  margin-left: 0.5rem;
}

.views {
  font-size: 0.91rem;
}

.trending{
  display: flex;
  text-align: center;
}
.trending >h3{
  margin-top:2.8rem ;
  margin-left: 1.1rem;
  margin-bottom: 1.3rem;
  font-size: 1.65rem;
}
.one-audio{
  padding: 0px 1.2rem 1.2rem 1.2rem;
  margin-left: 1.9rem;
  margin-bottom: 2.8rem;
  border-radius: 25px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.one-audio > h3{
  color: rgb(31, 31, 31);
  text-align: center;
  position: relative;
  right: 7rem;
  top: 3.3rem;
  font-size: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.audio-container1{
    display: flex;
    align-items: end;
}
.poster-audio1 img{
    width: 7rem;
    height: auto;
    border-radius: 11px;
}
.audio-container1 > audio{
    width: 50rem;
    margin-left: 1rem;
    
}

.shadow{
  
  width: 100%;
  height: auto;
box-shadow: rgba(236, 160, 160, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;}

.image-whatsapp img{
  width: 14rem;
  height: auto;
}
.image-whatsapp{
  margin-top: 1rem;
  text-align: center;
}

